/* CSS */
/* Smartphones */
@media only screen
and (max-width: 800px) {
body
{
	position:relative;
	padding :0;
	margin: 0;
	background-image:url("../img/bg.png");
}


.container
{
	position:relative;	
	margin: 0 auto;
	margin-top:0;
	margin-bottom:1.25%;
	width:800px;
	background-size:100%;
}

.logo, .about, .news, .events, .gearpackages, .contact
{
	content:none;
}

.logo
{
	position:absolute;
	margin-top:-15px;
	margin-left:303px;
	width:216px;
	height:279px;
	background-position:center;
	background:url("../img/template/med/logoS.png") no-repeat;
	transition: background-image 0.5s;
	-moz-transition: background-image 0.5s;
	-webkit-transition: background-image 0.5s;
	-o-transition: background-image 0.5s;
}
.logo:hover, .logo:active
{
	background-position:center;
	background:url("../img/template/med/logoSH.png") no-repeat;
}

.about
{
	position:absolute;
	margin-top:235px;
	margin-left:0px;
	width:298px;
	height:152px;
	background-position:center;
	background:url("../img/template/aboutS.png") no-repeat;	
	transition: background-image 0.5s;
	-moz-transition: background-image 0.5s;
	-webkit-transition: background-image 0.5s;
	-o-transition: background-image 0.5s;

}
.about:hover, .about:active
{
	background-position:center;
	background:url("../img/template/aboutSH.png") no-repeat;
}
.events
{
	position:absolute;
	margin-top:298px;
	margin-left:160px;
	width:261px;
	height:214px;
	background-position:center;
	background:url("../img/template/eventsS.png") no-repeat;
	
	transition: background-image 0.5s;
	-moz-transition: background-image 0.5s;
	-webkit-transition: background-image 0.5s;
	-o-transition: background-image 0.5s;	
}

.events:hover, .events:active
{
	background-position:center;
	background:url("../img/template/eventsSH.png") no-repeat;
}


.news
{
	position:absolute;
	margin-top:214px;
	margin-left:335px;
	width:171px;
	height:186px;
	background-position:center;
	background:url("../img/template/newsS.png") no-repeat;
	
	transition: background-image 0.5s;
	-moz-transition: background-image 0.5s;
	-webkit-transition: background-image 0.5s;
	-o-transition: background-image 0.5s;	
}

.news:hover, .news:active
{
	background-position:center;
	background:url("../img/template/newsSH.png") no-repeat;
}


.contact
{
	position:absolute;
	margin-top:342px;
	margin-left:430px;
	width:266px;
	height:150px;
	background-position:center;
	background:url("../img/template/contactS.png") no-repeat;
	
	transition: background-image 0.5s;
	-moz-transition: background-image 0.5s;
	-webkit-transition: background-image 0.5s;
	-o-transition: background-image 0.5s;	
}

.contact:hover, .contact:active
{
	background-position:center;
	background:url("../img/template/contactSH.png") no-repeat;
}


.gearpackages
{
	position:absolute;
	margin-top:225px;
	margin-left:527px;
	width:253px;
	height:167px;
	background-position:center;
	background:url("../img/template/packagesS.png") no-repeat;
	
	transition: background-image 0.5s;
	-moz-transition: background-image 0.5s;
	-webkit-transition: background-image 0.5s;
	-o-transition: background-image 0.5s;	
}

.gearpackages:hover, .gearpackages:active
{
	background-position:center;
	background:url("../img/template/packagesSH.png") no-repeat;
}

header
{
	position:relative;
	z-index:1000;
	width:800px;
	height: 600px;
	background:url("../img/template/med/headerbg2.png") no-repeat;
}


.content
{
	position:relative;
	z-index:2000;
	width:700px;
	margin:0 auto;
	padding:0;
	padding-bottom:30px;
}
.containerContent
{
	position:relative;
	width:800px;
	margin-top:150px;
	background:url("../img/template/med/borderside.png") repeat-y;
}
.paintedTop
{
	position:absolute;
	z-index:-1000;
	margin-top:-20px;
	margin-left:28px;
	width:600px;
	height:332px;
	background:url("../img/template/paintbg.png") no-repeat;
	background:none;
}

.paintedBottom
{
	position:absolute;
	z-index:-1000;
	margin-top:-235px;
	margin-left:28px;
	width:750px;
	height:332px;
	background:url("../img/template/paintbg2.png") no-repeat;
	background-size:100%;
}

footer
{
	width:800px;
	height:44px;
	background:url("../img/template/med/bottom.png") no-repeat;
}

.footy
{
	margin:0 auto;
	margin-top:-23px;
	font-size:13px;
	margin-bottom:0.5%;
	width:800px;

}

.footy p
{
	color:#C2896D;
	text-align:center;
}



}